<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.valorantguide">

    <uses-permission android:name="android.permission.INTERNET" />
<!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ValorantGuide">
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".fragments.gamemode.GamemodeDetail"
            android:exported="false"
            android:theme="@style/Theme.ValorantGuide.NoActionBar" />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".fragments.rank.RankDetail"
            android:exported="false"
            android:theme="@style/Theme.ValorantGuide.NoActionBar" />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".fragments.map.MapDetail"
            android:exported="false"
            android:theme="@style/Theme.ValorantGuide.NoActionBar" />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".fragments.weapon.WeaponDetail"
            android:exported="false"
            android:theme="@style/Theme.ValorantGuide.NoActionBar" />
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".fragments.agent.AgentDetail"
            android:exported="false"
            android:theme="@style/Theme.ValorantGuide.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.ValorantGuide.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>